* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}

nav {
  background-color: #243548;
  padding: 8px;
}

.brand {
  color: #fff;
  text-decoration: none;
}

.hero {
  background: #243548;
  padding: 16px;
  color: #fff;
  overflow: auto;
}

.hero .intro h3 {
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

.btn {
  background: #3b4b5d;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  font-size: 0.8em;
  position: relative;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.input-group {
  width: auto;
  height: 36px;
  margin-bottom: 16px;
}
.input-group input[type='number'] {
  display: block;
  height: inherit;
  background: #65717e;
  border: none;
  color: #fff;
  padding: 3px 8px;
  font-size: 0.92em;
  float: left;
}

.input-group select {
  height: inherit;
  float: left;
  border-radius: 0;
  -webkit-appearance: none;
  padding: 0 10px;
  background: #818b97;
  color: #fff;
  font-weight: 600;
  font-style: italic;
  max-width: 100px;
  border: none;
  border-radius: 0 3px 3px 0;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 14px;
}
.lds-ellipsis div {
  position: absolute;
  top: 0px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.hide {
  display: none;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.rate {
  line-height: 1.8em;
}
.rateValue {
  font-size: 1.3em;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  section {
    padding: 50px;
    width: 50%;
    float: left;
  }

  .intro p {
    font-weight: 100;
    font-size: 0.8em;
    padding: 8px 0;
  }

  .container {
    margin: auto;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 8px 16px;
  }

  section {
    padding: 15px 0 20px;
    width: 100%;
    float: left;
  }

  .intro h3 {
    font-size: 0.88em;
    font-weight: 400;
  }

  .intro {
    border-bottom: 2px solid #3b4b5d;
  }
  .intro p {
    font-weight: 100;
    font-size: 0.75em;
    padding: 8px 0;
    margin-bottom: 4px;
  }

  .rate {
    font-size: 0.88em;
  }

  input {
    width: 100%;
    position: relative;
  }

  select {
    position: absolute;
    right: 16px;
  }
}
